/* init.scss */
canvas {
  display: block;
}

html {
  height: auto;
}

html,
body {
  background-color: #fff;
  min-height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: flex-start;
}

/* panels.scss */
.console-log-panel {
  --width: 20rem;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 48px;
  background: transparent;
  max-width: var(--width);
  min-width: var(--width);
}
.console-log-panel .console-msg {
  color: #fff;
  max-height: 0rem;
  text-align: right;
  transition: max-height 100ms ease-in, color 1500ms 10000ms;
  overflow: hidden;
}
.console-log-panel .console-msg.init {
  max-height: 1.5rem;
  color: #00000000;
}

.bottom-card {
  bottom: 0;
  border: none;
  background: #7d7d7d;
  transform: translateY(200px);
  transition: transform 300ms 300ms ease-out;
  min-height: 48px;
  max-height: 48px;
}

.initiate .bottom-card {
  transform: translateY(0px);
}

.right-panel {
  right: 0;
  max-height: calc(100vh - 48px);
  min-height: calc(100vh - 48px);
  border: none;
  --twidth: 26rem;
  max-width: var(--twidth);
  min-width: var(--twidth);
  background: #404040;
  transform: translateX(100vw);
  transition: transform 300ms ease-in-out;
}
.right-panel .right-panel-inner.show {
  transform: translateX(-25rem);
}
.right-panel .right-panel-inner {
  right: 0;
  max-height: calc(100vh - 48px);
  min-height: calc(100vh - 48px);
  border: none;
  --twidth: 26rem;
  max-width: var(--twidth);
  min-width: var(--twidth);
  background: #002a69;
  transform: translateX(50rem);
  transition: transform 300ms ease-in-out;
  z-index: -1;
  overflow-y: scroll;
}
.right-panel .right-panel-outer.show {
  transform: translateX(-50rem);
}
.right-panel .right-panel-outer {
  right: 0;
  max-height: calc(100vh - 48px);
  min-height: calc(100vh - 48px);
  border: none;
  --twidth: 14rem;
  max-width: var(--twidth);
  min-width: var(--twidth);
  background: #280075;
  transform: translateX(50rem);
  transition: transform 300ms ease-in-out;
  z-index: -1;
  overflow-y: scroll;
}
.right-panel .dragonfly-search-panel {
  background: #191919;
}
.right-panel .selected-list-rp {
  max-height: calc(100vh - 11rem);
  overflow-y: scroll;
  background: #191919;
}

.right-panel.show {
  transform: translateX(0rem);
}

/* loading.scss */
.init-screen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1101;
  opacity: 1;
  background: white;
  transition: opacity 500ms ease-in-out;
}
.init-screen .main-logo {
  transition: transform 300ms ease-in-out;
}
.init-screen .title-block {
  transition: max-height 250ms ease-in-out;
  max-height: 50px;
  overflow: hidden;
}
.init-screen .init-btn {
  transition: transform 350ms ease-in-out;
}
.init-screen .init-screen-options {
  max-width: 200px;
  transition: max-height 200ms 100ms ease-in-out, margin 200ms 100ms ease-in-out;
  overflow-y: hidden;
  max-height: 500px;
}
.init-screen .init-screen-options.hide {
  transition: max-height 200ms ease-in-out, margin 200ms ease-in-out;
  max-height: 0px;
}

.init-screen.hide {
  opacity: 0;
}
.init-screen.hide .main-logo {
  transform: translateY(-100vh);
}
.init-screen.hide .title-block {
  max-height: 0px;
}
.init-screen.hide .init-btn {
  transform: translateY(100vh);
}

.loading-msg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1100;
  opacity: 1;
  background: white;
  transition: opacity 200ms ease-in-out;
}
.loading-msg .progress {
  width: 20rem;
  max-height: 20px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  transform: translateX(0vw);
}
.loading-msg .loading-text {
  color: #636363;
  display: inline-block;
  text-align: center;
  padding: 0rem 0rem 0.5rem 0rem;
  transition: all 200ms 200ms ease-in-out;
  transform: translateX(0vw);
}
.loading-msg .loading-cog {
  color: #09abe8;
  max-height: 0px;
  overflow: hidden;
}
.loading-msg .loading-num {
  max-height: 100px;
  overflow: hidden;
  transition: all 200ms 100ms ease-in-out;
  transform: translateX(0vw);
}

.loading-msg.init .progress {
  max-height: 0px;
}
.loading-msg.init .loading-text {
  color: #636363;
  display: inline-block;
  text-align: center;
  padding: 0rem 0rem 0.5rem 0rem;
  transform: translateX(-100vw);
}
.loading-msg.init .loading-num {
  max-height: 0px;
}

.loading-msg.hide {
  opacity: 0;
}

.loading-msg.initialising .progress {
  max-height: 0px;
  padding: 0rem 0rem 0rem 0rem;
}
.loading-msg.initialising .loading-text {
  max-height: 0px;
  transition: all 200ms 100ms ease-in-out;
  padding: 0rem 0rem 0rem 0rem;
}
.loading-msg.initialising .loading-cog {
  max-height: 100px;
  transition: all 200ms 300ms ease-in-out;
}
.loading-msg.initialising .loading-num {
  max-height: 0px;
  transition: all 300ms ease-in-out;
}

/* buttons.scss */
a.btn i {
  background: #00000010;
  min-width: 3rem;
}

a,
a:focus,
a:hover {
  color: #fff;
  box-shadow: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/* inputs.scss */
.form-label-group > input,
.form-label-group > label {
  height: unset;
  padding: 0.75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 16px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 3.55rem;
  margin-left: 1rem;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group textarea::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group textarea:-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-ms-input-placeholder {
  color: transparent;
}

.form-label-group textarea::-moz-placeholder {
  color: transparent;
}

.form-label-group textarea::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group textarea:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group textarea:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
/* scrollbar.scss */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191919;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6a6a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* bootstrap_shim.scss */
.initiate a.btn:focus, .initiate button.btn:focus {
  box-shadow: none !important;
}

.initiate .btn.dropdown-toggle.no-arrow::after {
  content: unset;
}

/*# sourceMappingURL=index.css.map */
